@import '~common/stylus/variable'
@import '~common/stylus/mixin'
body
  bg-image('header')
  background-position 0 -15px
  background-size contain
  background-color #ba492c
  color $color-dark-grey
.container
  position relative
  overflow hidden
  color #333
  font-size 28px
  padding-top 434px
  &.lock
    fixed-full(1)
    bg-image('header')
    background-position 0 -15px
// 头部
.header
  position absolute
  top 0
  left 0
  right 0
  .logo
    padding 23px 0 0 23px
  // 走马灯
  .marquee
    background rgba(0, 0, 0, 0.2)
    height 66px
    line-height 66px
// 表单盒子
.box
  bg-image('box', 750px, 894px)
  position relative
  margin-bottom 50px
  &:before
    bg-image('coin', 150px, 223px)
    position absolute
    right 0
    top 170px
    z-index 1
    content ''
  .form-wrapper
    pos-x()
    width 660px
    height 567px
    bottom 48px
    border-radius 15px
    box-sizing border-box
    padding 50px 60px
.dialog-wrapper
  position absolute
  z-index 999
// 公共部分
.icon-bg
  position relative
  background #ffefe1
  display block
  box-shadow inset 0 0 30px 5px rgba(254, 144, 72, 0.12)
.list
  display flex
  justify-content space-between
  .icon
    @extend .icon-bg
    &:before, &:after
      content ''
    &:before
      pos-center()
.part-wrapper
  margin 0 auto 80px
  &:last-of-type
    margin-bottom 50px
// 新人特权
.part-1
  .tip
    color #666
    margin 15px 0 20px
  .list
    .item
      .icon
        width 252px
        height 190px
        margin 15px auto
        border-radius 20px
        &:before
          margin-top 10px
      .desc
        line-height 1.6
        margin-top 5px
      &:nth-of-type(1)
        .icon
          &:after
            bg-image('part1-brage', 106px, 106px)
            position absolute
            top 0
            right 0
          &:before
            bg-image('part1-icon1', 204px, 130px)
      &:nth-of-type(2)
        .icon
          &:before
            bg-image('part1-icon2', 200px, 122px)
// 活动流程
.part-2
  .list
    padding-top 20px
    .item
      .icon
        width 128px
        height 128px
        border-radius 50%
        margin-bottom 20px
      &:not(:last-of-type)
        .icon
          &:after
            bg-image('arrow-right', 24px, 28px)
            pos-y(-60px, false)
      &:nth-of-type(1)
        .icon
          &:before
            bg-image('part2-icon1', 64px, 48px)
      &:nth-of-type(2)
        .icon
          &:before
            bg-image('part3-icon1', 56px, 58px)
      &:nth-of-type(3)
        .icon
          &:before
            bg-image('part2-icon3', 61px, 55px)
// 值得信赖
.part-3
  &>>>.main
    padding-left 20px
    padding-right 20px
  .list
    flex-wrap wrap
    text-align center
    .item
      width 50%
      margin 20px auto 0
      .icon
        width 170px
        height 170px
        border-radius 50%
        margin 0 auto 20px
      &:nth-of-type(1)
        .icon
          &:before
            bg-image('part2-icon2', 69px, 72px)
      &:nth-of-type(2)
        .icon
          &:before
            bg-image('part3-icon2', 72px, 68px)
      &:nth-of-type(3)
        .icon
          &:before
            bg-image('part3-icon3', 67px, 72px)
      &:nth-of-type(4)
        .icon
          &:before
            bg-image('part3-icon4', 72px, 72px)
      .strong
        display block
        margin-bottom 15px
        font-weight 600
        font-size $font-size-medium-x
      .desc
        font-size $font-size-small
        color #666
        line-height 1.6
// 投资者保障
.part-4
  &>>>.main
    padding-left 20px
    padding-right 20px
  .tip
    color #666
    margin 15px 0 0 0
  .list
    flex-wrap wrap
    .item
      bg-image('card-bg', 314px, 219px)
      box-sizing border-box
      padding 35px 30px
      margin-top 20px
      .card-header
        display flex
        justify-content space-between
        align-items center
        margin-bottom 10px
        .label
          border-top 1px solid #cab28d
          border-bottom 1px solid #cab28d
          font-weight 600
          padding-top 10px 0
          line-height 50px
      &:nth-of-type(1)
        .logo
          bg-image('logo1', 73px, 41px)
      &:nth-of-type(2)
        .logo
          bg-image('logo2', 116px, 42px)
      &:nth-of-type(3)
        .logo
          bg-image('logo3', 54px, 27px)
      &:nth-of-type(4)
        .logo
          bg-image('logo4', 116px, 43px)
      .desc
        font-size $font-size-small
        color #666
        line-height 1.4
        text-align left
        text-align justify
